<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272902468976-7lfa7d9sc3cqrun0e2315io3on86kvpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272902468976-7lfa7d9sc3cqrun0e2315io3on86kvpc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>272902468976-0ut1rss085ha47adj54e11393m9jh5js.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBghDa0ay2x_yFNnolrXdf1A-tQ_1tafo0</string>
	<key>GCM_SENDER_ID</key>
	<string>272902468976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dalel</string>
	<key>PROJECT_ID</key>
	<string>dalel-cbd9c</string>
	<key>STORAGE_BUCKET</key>
	<string>dalel-cbd9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272902468976:ios:565f07988d9b7262a00bb5</string>
</dict>
</plist>